* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.backgroundContainer {
    background-image: url("images/top-view-fresh-seafood-table.jpg");
    background-size:cover ;
    height: 95vh;
    text-align: center;
    display: flex;    
    flex-direction: column;
    justify-content: center;
}

.backgroundContainer h1 {
    font-size: 4rem;
    color: #DC3545;
    font-family: 'Cinzel', serif;
}

.carousel{
    margin: auto;
    width: 80%;
    height: 800px;
    text-align: center;
    display: flex;
    align-items: center;
}

.carousel-item {
    display: flex;
    flex-direction: row;
}

.wrapDescription h2 {
    padding-bottom: 2%;
}

.wrapDescription button {
    width: 150px;
    margin: auto;
}

.wrapCarousel {
    display: flex;
    width: 65%;
    align-items: center;
    margin-left: 14%;
    
}


.wrapDescription {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: lightgray;
    padding: 2%;
    border-radius: 15px;
    height: 480px;
}

.wrapDescription p{
   width: 450px;
}


.carousel-control-next {
    border: none;
    background: none;
    margin-top: 32%;
}

.carousel-control-prev {
    border: none;
    background: none;
    margin-top: 32%;
}

.carousel-control-next:hover {
    background-color: #DC3545;
    border-radius: 25px;
}

.carousel-control-prev:hover {
    background-color: #DC3545;
    border-radius: 25px;
}

.navContainer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 0 10%;
    background-color: #353A40;
    color: white;
    height: 42px;
}

.nav-link {
    color: white;
}

.nav-link:hover {
    color: #DC3545;
}

.footerLogo {
    margin-top: -10%;
    margin-left: -15%;
}

.footerAlign {
    margin-left: 12%;
}

.heroButtons {
    margin-top: 1%;
}
