* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.backgroundContainer {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/d/db/Hell_S_Kitchen_%2849450996%29.jpeg");
  background-size: cover;
  height: 95vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
}

.backgroundContainer h1 { 
  font-size: 4rem;
  color: #dc3545;
  font-family: "Cinzel", serif;
}

.h3shadow {
  text-shadow: 3px 3px black;
}

.carousel {
  margin: auto;
  width: 80%;
  height: 800px;
  text-align: center;
  display: flex;
  align-items: center;
}

.carousel-item {
  display: flex;
  flex-direction: row;
}



.wrapDescription h2 {
  padding-bottom: 2%;
}

.wrapDescription button {
  width: 150px;
  margin: auto;
}

.wrapCarousel {
  display: flex;
  width: 65%;
  align-items: center;
  margin-left: 14%;
}


.wrapDescription {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: lightgray;
  padding: 2%;
  border-radius: 15px;
  height: 480px;
}

.wrapDescription p {
  width: 450px;
}

.carousel-control-next {
  border: none;
  background: none;
  margin-top: 32%;
}

.carousel-control-prev {
  border: none;
  background: none;
  margin-top: 32%;
}

.carousel-control-next:hover {
  background-color: #dc3545;
  border-radius: 25px;
}

.carousel-control-prev:hover {
  background-color: #dc3545;
  border-radius: 25px;
}

.navContainer {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  padding: 0 10%;
  background-color: black;
  color: white;
  height: 80px;

}

.nav-link {
  color: white;
}

.nav-link:hover {
  color: #dc3545;
}

.footerLogo {
  margin-top: -10%;
  margin-left: -15%;
}

.footerAlign {
  margin-left: 12%;
}

footer {
  background-color: black;
}

.heroButtons {
  margin-top: 1%;
}

/* RECIPES PAGE */

.wrapper {
  margin: 2%;
}

.ingredients-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.icon {
  border: 1px solid black;
  border-radius: 2px;
  padding: 5px;
}

.dinner-ingredients > h1 {
  text-align: center;
  font-size: 2.2rem;
}

.footer {
  background-color: black;
}


.carous666 {
    justify-items: center;
    background-image: url(https://media.discordapp.net/attachments/1153342560392200225/1158450220087124008/table1.png?ex=651c4a57&is=651af8d7&hm=d5f04cf8c371347beb91a70a28bdc63484a7b602b17d01a9a2f1fa593ef832f1&=&width=667&height=667);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    width: 500px;
    height: 500px;
    
}
.carous667 {
    
    justify-items: center;
    background-image: url(https://media.discordapp.net/attachments/1153342560392200225/1158462200629972992/table2.png?ex=651c557f&is=651b03ff&hm=d70e09929cb8bcb1cdc59e6c3624c57d085b3ff7889fd27cf8e5f5c26dafdb3c&=&width=667&height=667);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    width: 500px;
    height: 500px;
    
}
.carous668 {
    justify-items: center;
    background-image: url(https://media.discordapp.net/attachments/1153342560392200225/1158462235459465379/table3.png?ex=651c5588&is=651b0408&hm=caac7582a47115f8e9be97502e9b2fa15e5b23eb2e4d24f006bafb1625ee543a&=&width=667&height=667);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    width: 500px;
    height: 500px;
    
}

.carous669 {
    justify-items: center;
    background-image: url(https://media.discordapp.net/attachments/1153342560392200225/1158462328275218432/table4.png?ex=651c559e&is=651b041e&hm=a408c13ee933fdb6f421b3837c9668f40c4dfd10fea9a9a7167f028bc1140109&=&width=667&height=667);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    width: 500px;
    height: 500px;
}

.carousel-item img {
  width: 150px;
  height: 500px;
}

.wrapCarousel img{
  width: 350px;
  height: 350px;
  margin-left: 3%;
}
.carousel-caption {

    position:fixed;
}

#carouselExampleSlidesOnly {
    margin: -2%;
    /* margin-top: -10%; */
}

.hh123 {
    margin-top: -13%;
}

.textmmain {
    margin: 10%;
}

#lol1 {
margin: 13%;
}

@media (max-width: 768px) {
    .carousel-caption {
        position:relative;
        transform: translate(0, 0);
        margin: 0 auto;
        padding-bottom: 400px;
        text-align: center;
    }
}

@media (max-width: 768px) {
#carouselExampleSlidesOnly {
    margin-top: 0%; 
  }
} 

/* .carousel-item {
  margin-bottom: ;
} */

@media (max-width: 968px) {
    #carouselExampleSlidesOnly {
        margin-top: -20%;
    }} 


.fffddd {
    font-size: 7rem;
    margin-bottom: 50%;
}

#background-video {
    position:absolute;
    width: 100%;
    z-index: -1;

  }

  .kqmwld {
    margin-top: 40%;
  }

  .mmmargi {
    margin-bottom: 10%;
  }

  .ayocol {
    margin-left: -20%;
  }


  @media (max-width: 768px) {
    .ayoback {
        margin: 0;
    }
    .fffddd {
        font-size: 3rem;
        margin-bottom: 90%;
    } 
    #background-video {
        object-fit: fill;
        height: 370%;
        max-width: 100%;
    }
    .mmmargi {
        width: 80%;
    }

    #imgdevil {
        width: 100%;
        margin-left: 4%;
        margin-top: 10%;
        margin-bottom: 20%;
    }

    .ayocol {
        margin-left: 10%;
    }

}




    
    @media (max-width: 968px) {
        #imgdevil {
            width: 170%;
            margin-top: 10%;
            margin-bottom: 20%;
            margin-left: -33%;
        }
        #background-video {
            object-fit: fill;
            height: 570%;
            max-width: 100%;
        }
        .mmmargi {
            flex-direction: column;
            justify-items: center;
            align-items: center;
        }
    }



    @media (max-width: 1568px) {
        #background-video {
            
            object-fit: fill;
            height: 550%;
            max-width: 100%;
        }
    }

    @media only screen and (max-width: 400px) {


      .wrapDescription {
          display: flex;
          flex-direction: row;
          justify-content: center;
          flex-wrap: wrap;
          background-color: lightgray;
          padding: 2%;
          border-radius: 15px;
          height: 600px;
          width: 300px;
          font-size: 0.9rem;
          margin-top: 15%;
      }
  
      .wrapCarousel img {
          width: 0px;
          height: 0px;
      }
  
      .carousel {
          margin: 0;
          width: 100%;
          height: 730px;
      }
  
      .carousel-control-next {
          border: none;
          background: none;
          margin-top: 5%;
      }
      
      .carousel-control-prev {
          border: none;
          background: none;
          margin-top: 5%;
      }
      .footerLogo {
          display: none;
      }
  
      .footerAlign {
          margin-right: 10%;
          font-size: 0.8rem;
      }
      .backgroundContainer {
          background: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)), url(images/top-view-fresh-seafood-table.jpg);
          background-size:cover ;
          height: 95vh;
          text-align: center;
          display: flex;    
          flex-direction: column;
          justify-content: center;
      }

      .logo img {
        display: none;
      }
      .navContainer {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-evenly;
        align-items: center;
        padding: 0;
        padding-right:15px ;
        background-color: black;
        color: white;
        height: 80px;
      }
  }
  